<div class="body">
  <div class="login">
    <form *ngIf="!loading" [formGroup]="form" (ngSubmit)="ingresar()">
      <h1>Login</h1>
      <mat-form-field class="ancho" appearance="fill">
        <mat-label>Usuario</mat-label>
        <input matInput autocomplete="off" formControlName="usuario">
      </mat-form-field>
      <mat-form-field class="ancho" appearance="fill">
        <mat-label>Contraseña</mat-label>
        <input type="password" matInput autocomplete="off" formControlName="contraseña">
      </mat-form-field>
      <div class="footer-button">
        <button mat-raised-button class="ancho" color="primary" [disabled]="form.invalid">Ingresar</button>
        <button mat-raised-button class="ancho">Registrarse</button>
      </div>
    </form>
  </div>
</div>
